@import url(https://fonts.googleapis.com/css?family=Raleway);

body{
  font-family: 'Raleway', sans-serif;
  width: 100%;
}

a {
color: #a6a4a4 !important;
text-decoration: none;
font-weight: 700;
}

a:hover {
  background-color: white;
  color: black;
  text-decoration: underline;
  text-decoration-color: #6710a5;
}

/************************/
/**"Jumbotron" Content**/
/**********************/
.top-box {
  margin: auto;
  background-image: url(images/cyclone.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.head-text{
  color:white;
}
.top-box-name {
  color: #a6a4a4 !important;
  text-align: center;
  font-size: 72px;
  font-weight: 1000;
  padding-top:300px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.top-box-text{
  color: #d9d9db !important;
  text-align: center;
  font-size: 28px;
}

#contact-icon{
  padding-left:150px;
  padding-top:10px;
  padding-bottom:30px;
}

.contact-heading{
  text-align: center;
  font-weight: 700;
  padding-bottom: 15px;
}

.icon-placement{
  text-align: center;
}

.fa {
  padding: 10px;
  font-size: 80px;
  text-align: center;
  text-decoration: none;
  border-radius:50%;
}

.fa:hover {
  opacity: 0.7;
}

/* Facebook */
.fa-linkedin {
  background: #282c34;
  color: white;
}

/* Twitter */
.fa-github {
  background: #282c34;
  color: white;
}

.fa-envelope {
  background: #282c34;
  color: white;
}
/*******************/
/**Navigation Bar**/
/*****************/
.navbar{
  background-color: black !important;
  margin-bottom: 0px;
  text-align: center;
}
.nav-item{
  float: left;
  margin-bottom: 0;
  display: inline-block;
  font-size: 24px;
}

a:.nav-item {
  display: block;
  font-size: 24px;
  color: white !important;
  text-align: center;
  text-decoration: none;
  margin-bottom: 0;
}

li a:hover:not(.active) {
  background-color: gray !important;
}

.active {
  background-color: gray !important;
}

.navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }

/**About Me**/
.mast {
    text-align: center;
    padding-bottom: 35px;
}

.aboutme{
background: #493829;
}

.meteorology{
background: #613318;
}
.datasci{
  background:#D57500;
}

.ml{
  background: #FFDE58;
}

.text-xxl{
  font-size: 20px;
}
.mast.mast-dark, .mast.mast-dark-trans {

    color: #FFF;
}


.h2 {
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 54px;
    color: white;
    text-align: center;
}

.text-30{
  font-size: 30px;
}

.col-state {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.col-state p {
  margin-top: 20%;
}



.mast {
    overflow: hidden;
}

/****************************/
/**Data Sci Portfolio**/
/***************************/

.datasci-card {
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    height: 300px;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    background-color: #654321;
    margin-left: 10px;
    margin-right :10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .flipper {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    perspective: 1000px;
  }
  /* flip the pane when hovered */
  .flipper.flip .card {
    transform: rotateY(180deg);
  }
  .front,
  .back {
    width: 100%;
    padding: 5px;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  /* front pane, placed above back */
  .front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    height: 100%;
  }
  /* back, initially hidden pane */
  .back {
    transform: rotateY(180deg);
    height: 100%;
  }
  .goback {
    position: absolute;
    bottom: 0px;
    padding-left: 20px;
    left: 0px;
    text-decoration: underline;
    cursor: pointer;
  }









.col-sm-8 {
  margin-bottom: 30px;
}
.site-heading{
font-weight: 700;
text-align: center;
background-color: #6710a5;
color: white;
margin:0;
padding-bottom: 20px;
padding-top:20px;
}
.bio {
padding-bottom: 4%;
margin-top: 30px;
font-size: 24px;
}
/*******************/
/**Contact Icons***/
/******************/

/********************/
/**Data Sci and Meteorology Pages Content**/
/********************/
.banner-heading{
  font-size: 30px;
  text-align: left;
  padding-top: 30px;
  padding-left: 30px;
  border-bottom: 3px solid gray;
  text-align: left;
}
.social-iconrow{
  padding:0px;
  margin:0px;
}

.icon-col{
  padding-right:0px;
}
.responsive-img {
    margin: 0 auto;
    max-height: 100px;
    padding-bottom: 10px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    font-size: 24px;
}

/********************/
/**ML Menu Content***/
/********************/
.person {
  border: 10px solid transparent;
  margin-bottom: 25px;
  width: 80%;
  height: 80%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(60%);
}
.person:hover {
  border-color: #f1f1f1;
}
.alg-type{
  margin-left:30px;
  margin-right:30px;

}
.alg-name{
  font-size: 24px;
}
