/*******************/
/**Navigation Bar**/
/*****************/
ul {
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;
  overflow: hidden;
  background-color: #40ced6;
}

li {
  float: left;
  font-family: Arial, sans-serif;
  margin-bottom: 0;

}

li a {
  display: block;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 14px 16px;
  text-decoration: none;
  margin-bottom: 0;

}

li a:hover:not(.active) {
  background-color: #1e868c;
}

.active {
  background-color: #1e868c;
}
/************************/
/**"Jumbotron" Content**/
/**********************/
.top-box {
  margin: 0;
  background-color: #282c34;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

.top-box-name {
  color: #40ced6;
  font-family: San-serif, Verdana, Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 50px;
}
.top-box-text{
  color: #d9d9db;
  font-family: San-serif, Verdana, Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  border-color: #424244;
}

/****************************/
/**Bottom Section and Text**/
/***************************/
.col-sm-8 {
  margin-bottom: 30px;
}
.bio-heading{
padding-left: 150px;
font-weight: 700;
}
.bio {
font-size: 18px;
padding-left: 150px;
}

/*******************/
/**Contact Icons***/
/******************/
#contact-icon{
  padding-left:10px;
  padding-bottom:10px;
}

span {
font-size: 18px;
}

.contact-heading{
  font-weight: 700;
  padding-bottom: 15px;
}

.col-sm-4{
  margin-bottom: 30px;
}
/* Style all font awesome icons */
.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius:50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-linkedin {
  background: #282c34;
  color: white;
}

/* Twitter */
.fa-github {
  background: #282c34;
  color: white;
}

.fa-envelope {
  background: #282c34;
  color: white;
}
