/*******************/
/**Navigation Bar**/
/*****************/
ul {
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;
  overflow: hidden;
  background-color: #40ced6;
}

li {
  float: left;
  font-family: Arial, sans-serif;
  margin-bottom: 0;

}

li a {
  display: block;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 14px 16px;
  text-decoration: none;
  margin-bottom: 0;

}

li a:hover:not(.active) {
  background-color: #1e868c;
}

.active {
  background-color: #1e868c;
}
/************************/
/**"Jumbotron" Content**/
/**********************/
.top-box {
  margin: 0;
  background-color: #282c34;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

.top-box-name {
  color: #40ced6;
  font-family: San-serif, Verdana, Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 50px;
}
.top-box-text{
  color: #d9d9db;
  font-family: San-serif, Verdana, Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
}

.myphoto {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  border-color: #424244;
}

/****************************/
/**Bottom Section and Text**/
/***************************/
.col-sm-8 {
  margin-bottom: 30px;
}
.bio-heading{
padding-left: 150px;
font-weight: 700;
}
.bio {
font-size: 18px;
padding-left: 150px;
}

/*******************/
/**Contact Icons***/
/******************/
#contact-icon{
  padding-left:10px;
  padding-bottom:10px;
}

span {
font-size: 18px;
}

.contact-heading{
  font-weight: 700;
  padding-bottom: 15px;
}

.col-sm-4{
  margin-bottom: 30px;
}
/* Style all font awesome icons */
.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius:50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-linkedin {
  background: #282c34;
  color: white;
}

/* Twitter */
.fa-github {
  background: #282c34;
  color: white;
}

.fa-envelope {
  background: #282c34;
  color: white;
}

/********************/
/**Data Sci Content**/
/********************/

@import url(https://fonts.googleapis.com/css?family=Raleway);

*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

body{
  background: #f9f9f9;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.main-title{
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}

.containers{
  padding: 1em 0;
  float: left;
  width: 25%;
}

.containers .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.project-image{
  width: 100%;
  border: 1px solid black;

}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-top{
  top: 20%;
}
